
/* General */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Josefin+Sans:ital,wght@0,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
body {
    display: flex;
    flex-direction: column;
    font-family: 'Ephesis', cursive;

}

p {
    font-family: 'Josefin Sans', sans-serif;
}

#icon {
    float: left;
    width: 10%;
}

menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

menu>li{
    min-width: 15%;
    text-align: center;
    background-color: blanchedalmond;
    padding: 5px;
}

menu>li a:link {
    text-decoration: none;
}

menu>li a:hover {
    color: black; 
}

main {
    padding: 10px;
}

/* Colors */
#hue {
    width: 100%;
}

@media screen and (max-width: 450px) {

    #icon {
        float: none;
        display: block;
        width: 50%;
        margin: auto;
    }
    menu {
        display: block;
        padding-left: 0;
    }    
    menu>li {
        margin: 3px;
    }
}