
body {
    font-family: 'Archivo Narrow', sans-serif;
    margin: 1rem auto;
    max-width: 850px;
}



header {
    padding: 1rem;
    background-color: yellowgreen;
    border-radius: 15px;
    text-align: center;
    font-size: large;
}

#img01 {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    width: 200px;
    border-radius: 1em;
    box-shadow: 5px 5px 20px rgb(0 0 0);
}

main {
    text-align: justify;
    padding-left: 2rem;
}

footer {
    padding: 1rem;
    background-color: yellowgreen;
    border-radius: 15px;
    text-align: center;
    font-size: small;
}

