@media (max-width: 1000px) {
    #top_bar {
        padding: 0 10%;
    }
    nav,main {
        padding: 8px 10%;
    
    }
    #contact_box {
        padding: 8px 12%;

    }
}

@media (max-width: 700px) {
    #top_bar {
        padding: 0 2%;
    }
    nav,main {
        padding: 8px 2%;
    
    }
    #contact_box {
        padding: 8px 2%;

    }
}


@media (max-width: 570px) {

    header {
        display: flex;
        height: 50px;
        align-items: center;
        /* width: 100%; */
    }

    nav {
        background-color: lightgreen;
        height: 100%;
        width: 15%;
        margin: 0;
        padding: 0;
        
    }

    .content {
        /* display: none; */
        position: absolute;
        flex-direction: column;
        background-color: lightgreen;
        opacity: 0;
        pointer-events: none;
        width: 150px;
        right: 0;
        z-index: 1;
        text-align: center;
        margin: 0;
        transition: all 1s ease;
    }

    .content a, .content a:active, .content a:visited {
        color: white;
        align-items: center;
    }

    .content a:hover {
        background-color: green;
        color: white;
        text-decoration: none;
    }


    #menu {
        display: inline;
        width: 100%;
        text-align: center;
        height: 100%;
        background-color: none;
        background-color: lightgreen;
        border: none;
        cursor: pointer;
    }

    /* button:focus + ul, ul>* {
        opacity: 1;
        pointer-events: all;
    } */

    .mystyle {
        opacity: 1;
        pointer-events: all;
    }


    #top_bar {
        height: 50px;
        padding: 0;
        position: relative;
        width: 100%;
    }

    #top_bar div>* {
        margin: 0;
        font-size: x-small;
        text-align: center;
    }







    #banner_box {
    display: grid;
    grid-row: 1fr 1fr;

    }

    #summary {
    position: static;
    transform: none;
    grid-row: 2;
    width: 100%;
    padding: 10px;
    border: none;
}

#d_forecast {
    background-color: lightslategray;
    border:2px solid black;
    padding: 10px;
    text-align: center; 
}

article {
    display: grid;
    grid-template-rows: 20px 1fr 100px;
}

article h3 {
    padding-left: 10px;
    grid-row: 1;
}

article p {
    grid-row: 2;
}

article img {
    float: none;
    margin: auto;
    grid-row: 3;
}

#contact_box {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#map {
    grid-row: 2;
    height: 100%;
    width: 100%;
}

#contact_info {
    width: 100%;
    position: relative;
    align-self: center;
    padding-left: 20px;
}

#social_media {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0%, -50%);
}

}